.container{
  min-height: 90vh;
  background-color: #1F3D74;
  font-family: 'Roboto',HelveticaNeue, Arial, sans-serif;
}

#root {
  display: flex;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
}
.calc-container {
  width: 700px;
  margin: 12em auto;
  border-radius: 30px;
  border: 1px solid #eee;
  background-color: #858693;
  box-shadow: 0 0 40px 4px #000;
}

.display {
  width: auto;
  display: flex;
  color: #fff;
  height: 100px;
  font-size: 4em;
  padding: 0 20px;
  font-weight: bold;
  position: relative;
  justify-content: flex-end;
}

.btn-panel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.btn-group {
  display: flex;
  height: 100px;
}