.container{
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto',HelveticaNeue, Arial, sans-serif;
  background-image: linear-gradient(to top, rgb(30, 60, 114), rgb(42, 82, 152));
}

#root {
  height: 80vh;
  display: flex;
  margin-top: 10%;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.app {
  width: 50vw;
  display: flex;
  border-radius: 35px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 10px solid #000;
  background-color: #858693;
}

.display {
  width: auto;
  display: flex;
  color: #fff;
  height: 100px;
  font-size: 3em;
  font-weight: bold;
  position: relative;
  align-content: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}




